<div class="jumbotron">
  <h1>About</h1>
  <div class="row">
    <div class="col-xs-6">
      <h3>What is it?</h3>
      <p>
        Pandaflix is the number one movie/tv show provider for all
        your panda needs!
      </p>
    </div>

    <div class="col-xs-6">
      <h3>Services</h3>
      <ul>
        <li>Online streaming</li>
        <li>Shipping direct to forest</li>
        <li>Other service</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <h1>Meet the Team</h1>
  <div class="row text-center">
    <div class="col-xs-3">
      <img src="http://i.kinja-img.com/gawker-media/image/upload/s--JjI-vs2_--/jc1hxptjd4vu9qlgcxzh.jpg"
        class="img-responsive img-circle"/
        height="1000" width="1000">
        <h3>Pandabear Grylls</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero velit, consectetur at ornare faucibus, sodales nec mauris. Integer et elementum ante. Quisque rhoncus ipsum fringilla risus tempus, ut imperdiet nibh interdum. Curabitur mattis gravida tincidunt. In suscipit dui eu eros efficitur tempus.
        </p>
    </div>
    <div class="col-xs-3">
      <img src="http://www.pandatour.com.cn/images/e-02-0731-panda1.jpg"
        class="img-responsive img-circle"/>
        <h3>Forest Whitacker</h3>
        <p>
          In luctus lacinia fringilla. Donec vitae ex non neque mattis imperdiet a ut turpis. In gravida posuere erat, a placerat mauris pharetra sit amet. Mauris hendrerit commodo tellus ac bibendum. Duis hendrerit, ipsum ac faucibus accumsan, neque ligula egestas augue, non elementum nisi est ut odio.
        </p>
    </div>
    <div class="col-xs-3">
      <img src="https://c402277.ssl.cf1.rackcdn.com/photos/806/images/hero_small/SCR_47384.jpg?1345530917"
        class="img-responsive img-circle"/>
        <h3>Red Stark</h3>
        <p>
          Proin lobortis, purus sit amet molestie ornare, elit metus viverra nibh, sit amet pulvinar enim erat at ante. Curabitur tincidunt risus eu rutrum dictum. In vitae porttitor diam. Ut nec leo elementum, bibendum elit quis, consequat sapien. Vivamus eu vestibulum magna. Morbi aliquam enim vitae elit ullamcorper sollicitudin.
        </p>
    </div>
    <div class="col-xs-3">
      <img src="http://img.timeinc.net/time/photoessays/2011/panda_wolong/panda_wolong_01.jpg"
        class="img-responsive img-circle"/>
        <h3>Bamboo Margera</h3>
        <p>
          Aenean vehicula leo vel nisi consequat fermentum. Praesent blandit tellus sit amet arcu vulputate feugiat. Morbi scelerisque id mi id eleifend. Etiam rutrum arcu nec est ullamcorper, eget dapibus nisl ultrices. Etiam odio ex, cursus vitae nisl ut, mattis tempor nunc.
        </p>
    </div>
  </div>
</div>
