<h1>Contact</h1>

<div class="row">
  <div class="col-xs-6">
    <h2>Contact Us</h2>

    <form>
      <h3>Personal Information</h3>

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" class="form-control">
      </div>

      <h3>What can we help you with?</h3>
      <div class="form-group">
        <label for="subject">Subject:</label>
        <select class="form-control" id="subject">
          <option>General/Other</option>
          <option>Connection</option>
          <option>Billing/Pricing</option>
          <option>Account Creation</option>
        </select>
      </div>

      <div class="form-group">
        <label for="message">Message:</label>
        <br>
        <textarea class="form-group" rows="8" cols = "80" id="message"></textarea>
      </div>

      <button class="btn btn-primary">Send</button>
    </form>
  </div>


  <div class="col-xs-6">
    <h2>Contact Information</h2>
      <br>
      <div>
        <h4>
          <table class="table table-striped">
            <tr>
              <td>Name1</td>
              <td>Title1</td>
              <td>Phone Number1</td>
            </tr>
            <tr>
              <td>Name2</td>
              <td>Title2</td>
              <td>Phone Number2</td>
            </tr>
            <tr>
              <td>Name3</td>
              <td>Title3</td>
              <td>Phone Number3</td>
            </tr>
            <tr>
              <td>Name4</td>
              <td>Title4</td>
              <td>Phone Number4</td>
            </tr>
            <tr>
              <td>Name5</td>
              <td>Title5</td>
              <td>Phone Number5</td>
            </tr>
            <tr>
              <td>Name6</td>
              <td>Title6</td>
              <td>Phone Number6</td>
            </tr>
          </table>
        </h4>
      </div>

  </div>
</div>
